h1{color: blue;
text-align:center;
font-size: 50pt;
border-bottom: 5px solid fuchsia;
}
h2{color: mediumturquoise;
text-align:center;
font-size:25pt;
border-bottom: 3px solid pink;
}
ul li{font-style:italic;
    color: Navy ;
}
ol li{
    color:blue;
}
.outersection{
    border:2px solid salmon ;
    display:flex;
    
}

.outersection section{background:salmon;
    padding: 15px;
    margin:20px;
    
}

nav ul { 
    list-style :none;
    margin:0;
    padding:0;
    display:flex;
}

nav ul li {
    padding: 5px;
    margin: 10px;
    color: blue;
   background:orchid;
   
}

p:first-letter{
    font-size: 75px;
    font-family: serif;
    line-height: .8em;
    padding-right: 8px;
    float: left;
}
                               