h1 {
    color: Green;
    text-align: left;
    font-size: 42pt;
    border-bottom: 5px solid;
    }
    h3    {
        color: green;
        font-size: 18pt;
        }
        li   {
            color: DarkSlateGray;
            border-bottom: 1px solid green;
        }
    h2    {
        color: green;
        font-size: 20pt;
        border-bottom: dashed;
    }
.outer-section {
    border: px solid black;
    background: LightGreen;
    padding: 15px;
    margin: 15px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
   
}
nav ul li {
     background: lightgreen;
    padding: 15px;
    margin: 15px;
    border-radius: 30px;
    border: 2px dashed white;
    box-shadow: 0 0 0 5px green;
    
}
nav ul li a   { 
    color: green;
}

form {
    
    padding: 10px;
    border-radius: 30px;
    color: black;
    border: 2px dashed white;
    background: lightgreen;
    box-shadow: 0 0 0 10px green;
    margin: 20px;
   
    
}

img {
    
   border: 2px dashed white; 
   box-shadow: 0 0 0 10px green;
   border-radius: 30px;
}